<!DOCTYPE html>
<html lang="en">
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/ace/1.2.4/min/ace.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
<div class="container">
    <div class="panel panel-default">
		<div class="panel-heading">
		<h4>Write a program to displays a list prime numbers from 1 to 100</h4>
        </div>
        <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
            	<div id="editor"></div>
            </div>
            <div class="col-md-6">
            <h4>Textarea</h4>
            <textarea class="col-md-6" name="content" id="content" rows="5" cols="158" disabled="disabled"></textarea>
      	<div id="result">result area</div>
        </div>
 	</div>
    <div id="result" class="text-center"></div>
    <button class="btn btn-primary" id="toggletextarea-btn">Hide TextArea</button>
	<button class="btn btn-default" id="alertcontent-btn">Submit</button>
	<br/>
	<br/>
</div>

<style type="text/css" media="screen">
  	#editor {
    	/** Setting height is also important, otherwise editor wont showup**/
    	
    
        height: 380px;
	}
</style>
<script>
   var textarea = $('#content');

   var editor = ace.edit("editor");
   document.getElementById('editor').style.fontSize='16px';
   editor.setHighlightActiveLine(true);
   editor.setTheme("ace/theme/twilight");
   editor.getSession().setMode("ace/mode/python");

   /*editor.getSession().on('change', function () {
       textarea.val(editor.getSession().getValue());
   });*/

   textarea.val(editor.getSession().getValue());

   /*$("#toggletextarea-btn").on('click', function () {
       textarea.toggle();
       $(this).text(function (i, text) {
           return text === "Show Content" ? "Hide Content" : "Show Content";
       });
   });*/
	
   $("#alertcontent-btn").on('click', function () {
		
		var edit_val = editor.getSession().getValue();
		var tex = $('#content')
		console.log("running ajax")
   		$.ajax({
   			url: '/background_process',
   			type: 'POST',
   			contentType: 'application/json',
   			data: JSON.stringify({
   				code: edit_val
   			}),
   			dataType: 'json'
   		}).done(function(data){
   		    $("#content").val(data.result);
		});
   });
</script>
</body>
</html>
